@model ICI.ProvaCandidato.Negocio.DTOs.NoticiaDto

<div>
    <h1>@ViewData["Title"]</h1>
    <br />

    <p>Tem certeza que deseja <i>excluir</i> a tag: <strong>@Model.Titulo</strong></p>
    <form method="post">
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-primary">Cancelar</a>
    </form>
</div>