@{
    ViewData["Title"] = "Teste Prático de Desenvolvimento .NET";
}

<h1>@ViewData["Title"]</h1>
<h2>Visão Geral</h2>
<p>
    Teste prático para avaliar as habilidades de desenvolvimento .NET de Gustavo Uchôa, utilizando .NET 5 (.NET Core MVC) e VS2019.
    O foco está nas capacidades de back-end e front-end, incluindo Javascript.
</p>

<h2>Estrutura do Projeto</h2>
<ul>
    <li>Apresentação: ICI.ProvaCandidato.Web</li>
    <li>Negócio: ICI.ProvaCandidato.Negocio</li>
    <li>Dados: ICI.ProvaCandidato.Dados</li>
</ul>

<h2>Modelo de Dados</h2>
<p>Deve ser criado entidades e utilizar Migrations para estruturar os dados no banco.</p>

<h2>Requisitos</h2>
<ul>
    <li>🚧 Migrations: Criar entidades e executar a criação da estrutura dos dados no banco utilizando Migrations.</li>
    <li>🏷️ CRUD de Tags: Desenvolver a tela de visualização das Tags cadastradas, implementar as telas de cadastro e edição de Tags.</li>
    <li>🔍 Pesquisa de Tags: Desenvolver um campo de pesquisa por descrição da Tag e exibir o conteúdo correspondente na tabela de visualização.</li>
    <li>❌ Exclusão de Tags: Validar se uma Tag está vinculada a uma notícia antes de excluir, e retornar uma mensagem informando que não foi possível excluir caso haja o vínculo.</li>
    <li>📰 Visualização de Notícias: Desenvolver a tela de visualização das notícias cadastradas em forma de tabela.</li>
    <li>✏️ Cadastro e Edição de Notícias: Desenvolver a tela de cadastro e edição de notícia e implementar função de exclusão.</li>
    <li>🧼 Funcionalidade de Limpeza de Formulário: Implementar um botão que limpe os campos do formulário, executando essa ação com Javascript.</li>
    <li>✔️ Validações: Realize validações Server-Side e também em Javascript antes de salvar o registro.</li>
</ul>

<h2>Critérios de Avaliação</h2>
<p>Será avaliado o uso de Migrations, Entity Framework, HTML, Razor, Javascript, funcionalidades, estrutura MVC e a organização do código.</p>

<h2>Entrega do Teste</h2>
<p>Enviar o projeto implementado juntamente com o arquivo de banco de dados (ou script para criação do mesmo).</p>
