@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>A Anna Carlla vai fazer um ótimo <strong>jantar </strong> hoje, e logo depois fará a <strong>massagem</strong> que está devendo.</h2>
</div>
